---
import Layout from "../layouts/Layout.astro";
import SectionComponents from "../components/SectionComponents.astro";
import Header from "../components/Header.astro";
import GitHub from "../components/GitHub.astro";
import Linkedin from "../components/Linkedin.astro";
import BentoCard from "../components/BentoCard.astro";
import Misintereses from "../components/Misintereses.astro";
import BotonMagico from "../components/BotonMagico.astro";
---

<Layout title="Dot Dager.">
  <Header />
  <BotonMagico/>
  <main>
    <SectionComponents class="grid  pt-20  relative">
      <div
        class="fixeado size-[600px] bg-esmeralda100/5 circulodesbanecidoxd backdrop-blur-3xl "
      >
      </div>
      <section class="grid grid-cols-1 gap-4 justify-center md:grid-cols-2 items-center">
        
          <picture class="relative bgafter">
            <img
              src="/dagernavideño.webp"
              alt="Dager Navideño"
              class="saturate-0"
            />
          </picture>
        <div class="flex flex-col gap-4">
			<h1 class="text-4xl font-bold text-esmeralda50 text-center md:text-start">Hola! soy <span class="uppercase text-esmeralda100">Dot</span> <span class="font-bold">Dager</span></h1>
			<p class=" text-balance text-lg md:text-pretty text-esmeralda50/80 text-center md:text-start">Un apasionado desarrollador FullStack con un enfoque autodidacta, que combina su amor por la programación con el interés en la filosofía. Además, disfruta de tocar la guitarra y tiene una curiosa fascinación por los pepinos, reflejando su personalidad creativa y única.</p>
			<div class="flex justify-center  md:justify-end items-end gap-4">
				<button class="bg-gris px-3 py-2 rounded-full border border-esmeralda50/15">
					<a href="https://github.com/MarianoVilla" class="flex gap-2 items-center">
						<GitHub class="size-6"/> GitHub
					</a>
				</button>
				<button class="bg-gris px-3 py-2 rounded-full border border-esmeralda50/15">
					<a href="https://github.com/MarianoVilla" class="flex gap-2 items-center">
						<Linkedin class="size-6 "/> Linkedin
					</a>
				</button>
				
			</div>
		</div>
      </section>
        <BentoCard />
    </SectionComponents>

    <Misintereses />

      
  </main>
</Layout>

<style>
  @media (max-width: 760px){
    .fixeado{
      width: 100%;
    }
  }
  .bgafter::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%; /* Altura del degradado */
    background: linear-gradient(to top, #1d1f1e 0%, rgba(29, 31, 30, 0) 100%);
    pointer-events: none; /* Para que no bloquee interacciones con la imagen */
  }
  .circulodesbanecidoxd {
    position: absolute;
    right: 50%;
    left: 50%;
    border-radius: 999px;
    filter: blur(100px);
    z-index: -1;
    transform: translate(-50%, -50%);
  }
</style>
