---
import SectionComponents from "./SectionComponents.astro";
---

<SectionComponents class="mt-8 relative overflow-hidden">
  <h2 class="text-4xl uppercase font-bold pl-5 relative punto after:shadow after:shadow-esmeralda100">
    Mis intereses
  </h2>

 <section id="intereses" class="flexx md:grid md:grid-cols-12 md:grid-rows-3 gap-4 w-full my-4">
  <div class="relative md:col-span-8  md:row-span-2  md:w-full w-60 md:h-full h-[250px]">
    <div class="bg-pepino bg-cover bg-center w-full h-full bgafter"></div>
  </div>

  <div class="relative md:col-span-4 md:row-span-3  md:w-full w-60 md:h-full h-[250px]">
    <div class="bg-guitarra bg-cover bg-center w-full h-full bgafter"></div>
  </div>
  
  <div class="relative md:col-span-5   md:w-full w-60 h-[250px]">
    <div class="bg-programador bg-cover bg-center w-full h-full bgafter"></div>
  </div>
  
  <div class="relative md:col-span-3   md:w-full w-60 h-[250px]">
    <div class="bg-gatito bg-cover bg-center w-full h-full bgafter"></div>
  </div>
 
 </section>

  </SectionComponents>


  <style>
    @media(max-width: 768px){
      .flexx {
    display: flex;
    flex-direction: row; /* Cambia la dirección a horizontal */
    overflow-x: auto;    /* Permite desplazamiento horizontal */
    overflow-y: hidden;  /* Elimina el desplazamiento vertical */
    gap: 16px;           /* Asegura espacio entre los elementos */
    width: 100%;
  }
  .flexx > div {
    flex: 0 0 auto;       /* Cada elemento mantiene su tamaño */
    width: 80%;           /* Ajusta el ancho para que se vea bien en móvil */
  }
    }


    .bgafter::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
    background: linear-gradient(to top, #1d1f1e 0%, rgba(29, 31, 30, 0) 100%);
    pointer-events: none;
  }
  </style>